/*  header  */
header {
  max-width: 75rem;
  background-color: lightblue; }
  header h1 {
    font-size: 60px; }
  header h2 {
    font-size: 30px;
    display: inline; }

/*  nav  */
/*  main  */
main {
  max-width: 75rem; }
  main .secondImage {
    max-width: 33%;
    float: right; }

/*  footer  */
footer p {
  max-width: 75rem;
  text-align: center;
  background-color: lightgray;
  font-size: 30px; }
