/*  header  */
header{
	max-width: 75rem;
	background-color: deepskyblue;
	img{

	}
	h1{
		font-size: 60px;
	}
	h2{
		font-size: 30px;
		display: inline;
	}
}
/*  nav  */
nav {
	ul{
		li{
			a{
			}
		}
	}


}
/*  main  */
main{
	max-width: 75rem;
	img{

	}
	h2{

	}
	p{

	}
	.secondImage{
		max-width:33%;
		float:right;
	}


}

/*  footer  */
footer{
	p{
		max-width: 75rem;
	text-align: center;
	background-color: deepskyblue;
	font-size: 30px;
	}	
}