
$fontColor: #3c3c3c;
$accent: #7E827A;
$primaryColor: #5f96c9;
$secondaryColor:#D3D3D3;

$normalWeight: 200;
$boldWeight: 500;
$defaultFont: 'Roboto', sans-serif;


$gutter: 2%;
$gutterdbl: (2 * $gutter);