$primColor: #ffff00;
$secondaryColor: #ff0000;
$defaultFont: 'Roboto', sans-serif;
$normalWeight: 300;
$boldWeight: 500;
$primFont: #000;
$bodyColor: #00ff00;
$spacing: 2%;
$spacingdb: (2 * $spacing);